[Desktop Entry]
Name=Mesh
Exec=mesh %f
Icon=mesh
Type=Application
Terminal=false
Categories=Graphics;3DGraphics;
MimeType=model/stl;model/obj;model/gltf+json;model/gltf-binary;
